body {
	background-attachment: fixed;
	/*background-color: #c0c0c0;*/
	/*border-top: 10px solid #9dceff;*/
	margin: 0;
}

#wrapper {
	overflow: hidden;
	margin: 20px;
	padding: 20px;
	background-color: #ffffff;
}

#header {
	height: 50px;
	width: 100%;
	padding-bottom: 50px;
}

#logo {
	padding: 10px;
	float: left;
}

form[name="search"] {
	padding: 10px;
	float: right;
}

#navigation {
	width: 100%;
	margin-top: 5px;
}

#navigation a {
	text-decoration: none;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation li {
	list-style-position: inside;
	display: inline-block;
}

#sidebar {
	float: left;
	width: 250px;
	height: 100%;
}

#sidebar h3 {
	text-align: center;
	border-bottom: 1px solid #400040;
}

#sidebar a {
	font-size: 16px;
	text-decoration: none;
	color: #0067ce;
	display: block;
}

#sidebar a:visited {
	color: #5badff;
}

#sidebar a:active {
	color: #bb0000;
}

#sidebar a:hover {
	color: #bb0000;
}

#sidebar ul {
	margin: 0;
	padding: 0;
}

#sidebar li {
	list-style-type: none;
}


#sidebar li.categories {

}

#sidebar p.categories{
	font-size: 20px;
}

#sidebar p.categories:before {
	padding-right: 2px;
	font-weight: bold;
	color: #337AB7;
	content: "\2714";
	transition-duration: 0.5s;
}

#sidebar p.categories:hover:before {
	color: #800040;
	content: "\2714";
}

#sidebar p.type{
	font-size: 18px;
}

#sidebar li.type {
	padding-left: 25px;
}

#content {
	margin-left: 280px;
}

#footer {
	background: #52a9d4;
	height: 50px;
	width: 100%;
}

#footer p{
		padding: 10px;
}